<table border="1">
{% for usr in users %}
<tr>
<td>{{ usr.id }}</td> | <td>{{ usr.first_name }}</td> | <td>{{ usr.last_name }}</td> | <td>{{ usr.username }}</td> | <td>{{ usr.email }}</td> | 

{% if usr.username == request.user.username %}
<td><a href="{% url 'members:delete' usr.id %}">delete</a></td>
<td><a href="{% url 'members:update' usr.id %}">update</a></td>

{% elif request.user.username == "admin" %}
<td><a href="{% url 'members:delete' usr.id %}">delete</a></td>
<td><a href="{% url 'members:update' usr.id %}">update</a></td>


{%else%}
<td> You are not {{usr.email}} to edit this</td>
{%endif%}



</tr>


{% endfor %}
</table>
<br/>
<br/>

{% if request.user.username == "" %}
<a href="{% url 'members:register' %}">Sign Up</a>

<a href="{% url 'members:login1' %}">Login</a>

{%else%}
<a href="{% url 'members:logout1' %}">Logout</a>

{%endif%}
<br/>