{% load static wagtailuserbar %}


{% include 'html/header.html'  %}

    <div class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {% block content %}{% endblock %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/fscratch.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
        
        
        <div>Hallooo</div>
    </div>

{% include 'html/footer.html'  %}