<html>

<head>

<title>
{% load static %}
welcome {{request.user.username}}

</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/jquery.mobile-1.3.0.min.css' %}" />


</head>

<body>

<div data-role="page" class="ui-responsive-panel" data-theme="b">

<div data-role="panel">

</div>

<div data-role="header" data-position="fixed">
<h1>FS</h1>

</div>

{% static 'html/lotto.html' %}
{% with stat1="kkkkk" %}

{{stat1}}
{% endwith %}



{% include 'html/lotto.html'  %}

<div data-role="content">

{% static 'css/jquery.mobile-1.3.0.min.css'%}

<table border="1">

<tr><td>Post ID</td><td>Title</td><td>Written by:</td></tr>
{% for art in articles  %}
<tr>
<td>{{ art.id }} </td><td> {{ art.title }} </td><td>{{ art.writer }} |{{request.user.username}}</td>
</tr> 
<tr>
<td colspan="100">{{ art.content }}</td> 
</tr>  
<tr>
{% if art.writer == request.user.username %}
<td><a href="{% url 'articles:delete' art.id %}">delete</a></td>
<td><a href="{% url 'articles:update' art.id %}">update</a></td>

{% elif request.user.username == "admin" %}
<td><a href="{% url 'articles:delete' art.id %}">delete</a></td>
<td><a href="{% url 'articles:update' art.id %}">update</a></td>


{%else%}
<td> You are not {{art.writer}} to edit this</td>
{%endif%}
</tr>

{% endfor %}
<br/>


<table>

<br/>
<a href="{% url 'articles:create' %}">create</a>
<br/>
<a href="{% url 'members:users_home' %}">Members</a>
<br/>
<a href="{% url 'members:logout1' %}">Logout</a>

</div>
{% include 'html/footer.html'  %}


</div>

<script type="text/javascript" src="{% static 'js/jquery-1.9.1.min.js' %}">
</script>

<script type="text/javascript" src="{% static 'js/jquery.mobile-1.3.0.min.js' %}">
</script>





<script type="text/javascript">
app. initialize();
</script>


</body>
</html>