{% if request.user.username == "" %}
<li class="active">
<a href="{% url 'articles:register' %}">
<span class="glyphicon glyphicon-user"></span> 
Signup
</a>
</li>

<li class="active">
<a href="{% url 'articles:login1' %}">
<span class="glyphicon glyphicon-user"></span>
Login
</a>
</li>
{%else%}
<li class="active">
..
</li>

<li class="active">
<a href="{% url 'articles:users_home' %}">
Members List
</a>
</li>

<li class="active">
<a href="{% url 'articles:logout1' %}">
Logout
</a>
</li>
{%endif%}




